.main-footer {
  color: black;
  background-color: #c4ddf7;
  padding-top: 3em;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  padding-left: 2em;
  z-index: 50;
  font-size: large;
  font:italic;
  font-weight: 400;
}
#container {
    flex-direction: column;
  }
.column {
    float: left;
    width: 33.33%;
    padding-left: 5;
    margin: 0 auto;
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.list{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}